body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../images/papyrus.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; 

}

h1, h3 {
    color: #ffffff;
}

h2 {
    color: #4aaaa5;
}

h3 {
    background-color: #4aaaa5;
    width: 200px;
    padding: 10px 0;
    text-align: center;
}

#header {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    border-bottom: solid 2px #cccccc;
}

#name {
    background-color: #4aaaa5;
    width: fit-content;
    padding: 5px 20px;
    margin: 0px 480px;
}

.navigation {
    margin: 20px 440px 20px 0px;
    position: absolute;
    top: 0;
    right: 20px;
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    float: left;
    padding: 0 20px;
}

.navigation a {
    text-decoration: none;
    color: #777777;
}
.end_nav_item {
    border: none;
}

.nav_item {
    border-right: solid #cccccc 1px;
}

#page_container {
    position: relative;
    height: 100%;
}

section {
   margin: 125px auto;
   width: 918px;
   padding: 20px;
   background-color: #ffffff;
   border: solid 1px #cccccc;
   
}

#self_picture {
    float: left;
    margin: 20px;
}

p {
    line-height: 1.5;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    border-top: solid 8px  #4aaaa5;
    position: absolute;
    bottom: 0;
    
}